<app-artwork-filter></app-artwork-filter>
<p-progressSpinner *ngIf="loading$ | async"></p-progressSpinner>
<p-dataView [value]="(artworks$ | async)" layout="grid" *ngIf="!(loading$ | async)">
    <ng-template let-artwork pTemplate="gridItem">
        <div class="col-12 sm:col-6 lg:col-4 xl:col-3 p-2">
            <app-artwork-card [artwork]="artwork"></app-artwork-card>
        </div>
    </ng-template>
</p-dataView>
<p-paginator #paginator [totalRecords]="(artworksPagination$ | async).total" [rows]="(artworksPagination$ | async).limit" (onPageChange)="onPageChange($event)"></p-paginator>
